.card {
 
    justify-content: center;    /* center the grid */
}
h1{
    text-align:center;
}

.wheat-strategy {
    background-color: #ffffff;
    width: 100%;
    max-width: 350px;
    margin: 10px 40px 20px 10px;
    text-align: center;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);
}

.wheat-strategy:hover {
    background-color: #4caf50;  
    color: #ffffff;             
    transform: translateY(-5px); /* lifts the card upward */
    box-shadow: 0 8px 12px rgba(128, 128, 128, 0.6); /* shadow appears from below */
    .lazy{
    background-color:#4caf50;
 }
}